<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734634807752-b780vhc5qadv9ckbs7hijql7ntj3m0bi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734634807752-b780vhc5qadv9ckbs7hijql7ntj3m0bi</string>
	<key>API_KEY</key>
	<string>AIzaSyCj4b9JlK4wTuB08h3hIOkbbk6kUr5caAs</string>
	<key>GCM_SENDER_ID</key>
	<string>734634807752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>za.co.dvt.jhb.RecipeAid</string>
	<key>PROJECT_ID</key>
	<string>recipeaid</string>
	<key>STORAGE_BUCKET</key>
	<string>recipeaid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734634807752:ios:04ad64fbc7763be7</string>
	<key>DATABASE_URL</key>
	<string>https://recipeaid.firebaseio.com</string>
</dict>
</plist>